body{
    margin: 0;
    font-family: Josefin Sans;
    background-color: hsl(235, 21%, 11%);
    width: 100%;
}
.bg-desktop-dark{
    width: 100%;
    height: 14pc;
    user-select: none;
}
.bg-mobile-dark{
    display: none;
}
.logo{
    width: 4.5%;
    position: fixed;
    left: 47%;
}
.tittle{
    letter-spacing: 10px;
    text-transform: uppercase;
    color: white;
    position: fixed;
    top: 4%;
    left: 31%;
    font-family: Josefin Sans;
}

.createToDo{
     width: 38%;
     height: 8vh;
     background-color: white;
     position: absolute;
     top: 20%;
     left: 31%;
     border-radius: 5px;
     background-color: hsl(235, 21%, 11%);
}
#createtaskarea{
    position: relative;
    left: 10%;
    top: 5%;
    width: 80%;
    height: 85%;
    border: none;
    font-size: 18px;
    background-color: hsl(235, 21%, 11%);
color: hsl(234, 39%, 85%);
}
#createtaskarea:focus{
outline-color:  hsl(235, 21%, 11%);
border-color:  hsl(235, 21%, 11%);

}
::placeholder{
font-size: 16px;
font-weight: 500;
}
#createit{
    position: absolute;
    left: 2%;
    top: 24%;
    border-radius: 50%;
    background-color: transparent;
    width: 5%;
    height: 25px;
    cursor: pointer;
    border: 1px solid hsl(233, 11%, 84%);
    background-image: linear-gradient(to right, #57ddff, #c058f3);

}

.creatitimage{
    position: absolute;
    left: 30%;
    top: 35%;
}

#taskcontainer{
    width: 38%;
    height: 57vh;
    background-color: white;
    position: absolute;
    top: 30%;
    left: 31%;
    border-radius: 5px;
    background-color:  hsl(235, 24%, 19%);
    box-shadow:0px 10px 30px 10px rgb(15, 6, 0, 0.70)  ;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}
.containerfooter{
width: 38%;
height: 7%;
position: fixed;
bottom: 6%;
border-radius: 0 0 5px 5px ;
background-color:  hsl(235, 24%, 19%);
border-top: 1px solid  hsl(233, 14%, 35%);
box-shadow:0px 10px 30px 0 rgb(15, 6, 0, 0.70)  ;

}
.itemsleft{
    cursor: default;
    position: absolute;
    left: 5%;
    top: 1%;
    font-size: 13px;
color: hsl(234, 11%, 52%);
}

#clearcompleted{
    position: absolute;
    right: 5%;
    top: 1%;
    font-size: 13px; 
    cursor: pointer;   
    color: hsl(234, 11%, 52%);
}
#clearcompleted:hover{
    color:  hsl(236, 33%, 92%);
}
.task{
    position: relative;
    width: 100%;
    height: 15%;
    border-bottom: 1px solid hsl(233, 14%, 35%);
}
.taskdonebutton{
    position: relative;
    left: 2%;
    top: 30%;
    border-radius: 50%;
    background-color: transparent;
    width: 5%;
    height: 25px;
    cursor: pointer;
    border: 1px solid hsl(233, 11%, 84%);
}
#taskimage{
    display:none;
    position: absolute;
    left: 3.5%;
    top: 45%;  
}


.taskdetaill{
    font-size: 18px;
    position: absolute;
    left: 11%;
    top: 5%;
    width: 80%;
    color:hsl(234, 39%, 85%) ;
}
#deletetask{
    position: absolute;
    right: 5%;
    top: 40%;
    width: 3%;
    cursor: pointer;
    display: none;
}
.task:hover  #deletetask{
display: initial;
}
.taskcompleted:hover  #deletetask{
    display: initial;
    }
.taskcompleted{
    position: relative;
    width: 100%;
    height: 15%;
    border-bottom: 1px solid hsl(233, 14%, 35%);
}
#taskfinished{
    position: relative;
    left: 2%;
    top: 30%;
    border-radius: 50%;
    background-image: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));;
    width: 5%;
    height: 25px;
    cursor: pointer;
    border: 1px solid hsl(233, 11%, 84%);
}
.crosstask{
    font-size: 18px;
    position: absolute;
    left: 11%;
    top: 5%;
    width: 80%;
    color: hsl(234, 11%, 52%) ;
    text-decoration: line-through;
}
.taskimagedone{
    position: absolute;
    left: 3.5%;
    top: 45%;  
}
#darkmode:checked .task{
background-color: red;
}
body{
    display: flex;
height: fit-content;
}
@media(max-width : 450px){
    .bg-desktop-dark{
        display: none;
    }
    .bg-mobile-dark{
        display: initial;
        width: 100%;
    }
    .createToDo{
        width: 90%;
        left: 5%;
        top: 7rem;
        height: 4rem;
    }
    .tittle{
        font-size: 30px;
        letter-spacing: 12px;
        text-transform: uppercase;
        color: white;
        position: absolute;
        top: 2rem;
        left: 5%;
    }
    #createtaskarea{
        position: relative;
        left: 15%;
     
    }
    #createit{
        position: absolute;
        left: 5%;
        width: 7%;
    }
    #taskcontainer{
        position: absolute;
        width: 90%;
        height: 29.5rem;
        left: 5%;
        top: 13rem;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    }
    .containerfooter{
        width: 90%;
        height: 3rem;
        top: 43rem;
    }
    .task{
        height: 15%;
   
    }
    .taskdetaill{
        left: 15%;
        top: 15%;
    }
    .taskdonebutton{
        left: 5%;
        width: 7%; 
        cursor: none;
    }
    .crosstask{
        left: 15%;
        top: 15%;
    }
    #taskfinished{
        left: 5%;
        width: 7%; 
        user-select: none;
        cursor: none;
    }
    #taskimage{
        position: absolute;
        left: 7%;
        top: 45%;  
        user-select: none;
        cursor: none;
    }
    #deletetask{
        display: initial;
    }
    .logo{
        width: 14%;
        left: 40%;
    }
}
